<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.title }}
        </a>
        <ul class="visible-links">
          {% assign navigation = site.data.navigation.main %}
          {% for link in navigation %}
            {% if link.children %}
              <li class="masthead__menu-item dropdown">
                <a href="#" class="dropdown-toggle">{{ link.title }}</a>
                <ul class="dropdown-menu">
                  {% for child in link.children %}
                    <li><a href="{{ child.url | relative_url }}">{{ child.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="masthead__menu-item">
                <a href="{{ link.url | relative_url }}"{% if link.target %} target="{{ link.target }}"{% endif %}>{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>